<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css'%}">
    <script src="{%static 'js/jquery.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2 class="text-center">SNP QUALITY CONTROL APPLICATION <br/>FOR INDONESIAN RICE GENOME</h2>
        <p class="text-center">
          This tool is used to guarantee the quality of SNP data used in the association mapping process. The procedure applied are calculating the Missing Rate, calculating Minor Allele Frequency and calculating Hardy-Weinberg Equilibrum. The end result of this process is the SNP encoded in numerical form, which is 0 to represent Dominant Homozygous, 1 for Heterozygous and 2 for Homozygous Recessive.
        </p>
        <hr/>
        <form action="{% url 'convert' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label" for="apps_name">Upload file</label>
                <div class="col-md-10">
                  <input type="file" name="csv_file" class="form-control" accept=".csv" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 control-label" for="mafthreshold">Minor Allele Frequency Thresholds, Less Than</label>
                <div class="col-md-2">
                  <input type="number" name="mafthreshold" class="form-control" step="any" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 control-label" for="mrthreshold">Missing Rate Thresholds, More Than</label>
                <div class="col-md-2">
                  <input type="number" name="mrthreshold" class="form-control" step="any" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 control-label" for="apps_name">Hardy - Weinberg Equilibrium Thresholds, Less Than</label>
                <div class="col-md-2">
                  <input type="number" name="hwethreshold" class="form-control" step="any" required>
                </div>
            </div>
              <button type="submit" class="btn btn-success btn-md pull-right">Process</button>
          </div>
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success">{{ message }} <a href="{%static '/datasnp/snp_encoded.csv'%}">Download disini</a></div>
          {% endfor %}
          {% endif %}
      </div>
      <hr/>
      <p class="text-center">FAKULTAS ILMU KOMPUTER DAN TEKNOLOGI INFORMASI USU - 2019</p>
      </div>
      </form>
      </div>
    </div>
  </body>
</html>
